<app-page [title]='title' [body]='body' [routeLoaded]='routeLoaded'>

  <ul>
    <li>
      <a class="email" href="mailto:ben@bencortes.com">ben@bencortes.com</a>
    </li>
    <li class="gitHub">
      <a target="_blank" href="https://github.com/cortesben/">
        <span>GitHub</span>
      </a>
    </li>
    <li class="twitter">
      <a target="_blank" href="https://twitter.com/cortesben">
        <span>Twitter</span>
      </a>
    </li>
    <li class="linkedIn">
      <a target="_blank" href="https://www.linkedin.com/in/bencortes">
        <span>LinkedIn</span>
      </a>
    </li>
  </ul>


</app-page>