<section class="content" [ngStyle]="{'background-color': 'var(--accent-compliment)'}">
    <div *ngIf="globals.isOpen" class="close-nav" (click)="toggleNav()"></div>
    <div class="panel" [ngClass]="{'loaded' : transitionStart, 'route-changing': globals.isFetching}">
        <div class="copy" [ngClass]="{'open': globals.isOpen}">
            <h1 class="title">Ben</h1>
            <p>Creating a clear path to communicate with technology can be challenging. As the web matured, so has best practices
                and this is what I find this fascinating.</p>
            <p>I enjoy creating performant interfaces that feel snappy upon use.</p>
            <p>Patterns that scale devices to display utility.</p>
            <p>Clear direction of an item and it's intended use.</p>
            <p>I began my career in design over a decade ago. I have been fortunate enough over the years to have worked on
                great projects and have allowed me to pick up a few tricks along the way. Blending design and technology
                provide me with the tools to build and create.</p>
        </div>
    </div>
</section>