<header>
  <div class="icon"
      (click)="toggleMenu()" 
      [ngClass]="{'open': (isNavOpen$|async)}">
      <app-icon-ham></app-icon-ham>
  </div>
  <nav [ngClass]="{'open': (isNavOpen$|async)}">
      <li routerLink="/ben" routerLinkActive="active">ben</li>
      <li routerLink="/services" routerLinkActive="active">services</li>
      <!-- <li routerLink="/anything" routerLinkActive="active">404</li> -->
      <li routerLink="/contact" routerLinkActive="active">contact</li>
  </nav>
</header>